@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
body{
    background-color:  hsl(0, 0%, 8%);
    color: white;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
text-align: center;
box-sizing: border-box;
}
header{
  background-color:hsl(0, 0%, 12%);
  height: 540px;
  width: 350px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
img{
   border-radius: 50%;
   height: 70px;
   text-align: center;
   padding-top: 20px;
}
.tara{
    font-size: 15px;
    color: hsl(75, 94%, 57%) ;
    
}
.taar{
  font-size: 10px;
}
.1{
    padding-top: 10px;
}
button{
    width: 330px;
    padding: 10px 25px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 20%);
    color:white;
    border: hsl(0, 0%, 20%); ;
}
button:hover{
    background-color: hsl(75, 94%, 57%);
    color: black;
}